@import '_settings'

normalize-css()
base()

body
  padding 50px

*
  box-sizing border-box

.sudoku-board
  width 450px
  .square
    display inline-flex
    align-items center
    justify-content center
    flex-wrap wrap
    font: 24px Calibri,Tahoma,Arial,sans
    background-color #ddccbb
    border 1px solid black
    width 50px
    height 50px
    text-align center
    vertical-align middle
    &.sel
      background-color yellow
    &.rel
      background-color #ccbbaa
    &.invalid
      background-color red
    .mininum
      font-size 12px
      min-width 16px
      height 16px


.sudoku-nums
  width 450px
  .num
    display inline-flex
    align-items center
    justify-content center
    font: 16px Calibri,Tahoma,Arial,sans
    background-color #ddccbb
    border 1px solid black
    width 50px
    height 50px
    &.sel
      background-color yellow