$text-color: rgb(75, 75, 75)
$bg: #eee
$bg-sel: rgb(240, 240, 210)
$bg-rel: darken($bg, 5%)
$bg-invalid: pink
$bg-btn: lighten($bg, 10%)
$bg-num-rel: lighten($bg-rel, 10%)
$bg-num-sel: lighten($bg-sel, 5%)
$border: #777
$border-dark: darken($border, 25%)
$fg: rgb(75, 75, 200)
$fg-locked: $text-color

@mixin glyph-font()
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-undo:before
  @include glyph-font
  content: "\e600"
.icon-redo:before
  @include glyph-font
  content: "\e601"
.icon-link:before
  @include glyph-font
  content: "\e602"
.icon-solve:before
  @include glyph-font
  content: "\e603"
.icon-clear:before
  @include glyph-font
  content: "\e604"

@mixin app($width)
  $sq-width: $width / 9

  #app
    width: $width
    margin: $sq-width auto
    color: $text-color
    font-weight: 400
    font-family: Arial,sans-serif
    user-select: none

  a
    text-decoration: none
    color: inherit
    font-weight: bold
    &::after
      @include glyph-font
      font-size: 0.9em
      content: " \e602"

  .clickable
    font-weight: bold
    cursor: pointer

  *
    box-sizing: border-box

  input.micro
    display: inline-block
    font-size: inherit
    width: 4em
    border: 1px solid $border
    border-radius: 3px
    text-align: center

  .menu
    height: $sq-width
    button
      vertical-align: top
      font-size: $sq-width/3
      width: $sq-width * 1.5
      height: $sq-width
      color: lighten($text-color, 10%)
    .info
      display: inline-block
      text-align: center
      font-size: $sq-width/5
      margin: 0
      width: $sq-width * 3
      height: $sq-width
      line-height: 1.5em
      vertical-align: middle
      &.one
        padding: 1.5em 0
      &.two
        padding: 0.75em 0


  button
    color: $text-color
    cursor: pointer
    border: 1px solid $border
    border-radius: 4px
    background-color: $bg-btn
    display: inline-block
    text-transform: uppercase

  .sudoku-board
    .square-border
      display: inline-flex
      background-color: $border
      width: $sq-width
      height: $sq-width
      vertical-align: middle
      text-align: center
      .square
        font: $sq-width/1.7 Calibri,Tahoma,Arial,sans
        display: inline-flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        background-color: $bg
        color: $fg
        width: $sq-width - 2
        height: $sq-width - 2
        margin: 1px
        cursor: default
        &.sel
          background-color: $bg-sel
        &.rel
          background-color: $bg-rel
        &.invalid
          background-color: $bg-invalid
        &.locked
          color: $fg-locked
        .mininum
          font-size: $sq-width/4
          width: $sq-width/3 - 1
          height: $sq-width/3 - 1
      &:nth-child(9n+3), &:nth-child(9n+6)
        .square
          width: $sq-width - 3
          margin-right: 2px
      &:nth-child(0n+19), &:nth-child(0n+20), &:nth-child(0n+21),
      &:nth-child(0n+22), &:nth-child(0n+23), &:nth-child(0n+24),
      &:nth-child(0n+25), &:nth-child(0n+26), &:nth-child(0n+27),
      &:nth-child(0n+46), &:nth-child(0n+47), &:nth-child(0n+48),
      &:nth-child(0n+49), &:nth-child(0n+50), &:nth-child(0n+51),
      &:nth-child(0n+52), &:nth-child(0n+53), &:nth-child(0n+54)
        .square
          height: $sq-width - 3
          margin-bottom: 2px

  .sudoku-nums
    .num
      display: inline-flex
      align-items: center
      justify-content: center
      font: $sq-width/2 Calibri,Tahoma,Arial,sans
      //background-color: #cccccc
      //border: 1px solid black
      width: $sq-width
      height: $sq-width
      padding: 0
      &:hover
        background-color: $bg-num-rel
      &.sel
        background-color: $bg-num-sel


@media (min-width: 495px)
  body
    @include app(495px)

@media (max-width: 495px) and (min-width: 405px)
  body
    @include app(405px)

@media (max-width: 405px)
  body
    @include app(315px)